<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css" type ="text/css">
    <title>Weather In Your Area</title>
</head>
<body> 
    <section>
        <h2 class="page_title">Weather In Your Area</h2>
        <div id = 'current_weather_data_container'>
            <h1>Weather Today</h1>
            <h3><%= current_weather_description %></h3>
            <img src= "<%=current_weather_icon%>" alt="<%= current_weather_description %>" width="100px" height="100px">
             <p><%=current_weather_temp%>°C</p>
             <p><%=City%></p>
            <p><%=Country%> </p>
             
           
        </div>
    </section>
</body>
</html>